.container-fluid{
    padding-top: 3rem;
    background-color: #262D3D;
    min-height:100vh !important;
}
.imgangular{
    height:18vh;
   
    
}
.angularfunction{
    height:40vh;
    float:center;
}
html, body{
   
    color:white;
}

h1{
    color:white;
}
p{
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-size: 22px;
    text-indent: 5rem;
    color:white;
}
.row{
    margin-top:2rem;
    margin-left:5rem;
}