<div class="container-fluid img-center">
    <div class="text-center"> 
      <img class="imgangular" [src]="angular" alt="Angular Image">
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h1>WHAT IS ANGULAR 6?</h1>
            <p><strong>Angular</strong> is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers to build applications that live on the web, mobile, or the desktop.</p>
        </div>
        
            <div class="col-sm-6"><img class="angularfunction" [src]="angular_function" alt="Angular Image Functionality"></div>
    </div>
 
</div>