<div class="container-fluid img-center">
    <div class="text-center"> 
      <img class="imgnode" [src]="node" alt="Node Image">
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-6"><h1>WHAT IS NODEJS?</h1>
        <p>Nodejs is an asynchronous event driven JavaScript runtime, Node is designed to build scalable network applications. In the following "hello world" example, many connections can be handled concurrently. Upon each connection the callback is fired, but if there is no work to be done, Node will sleep.</p>
        <p>This is in contrast to today's more common concurrency model where OS threads are employed. Thread-based networking is relatively inefficient and very difficult to use. Furthermore, users of Node are free from worries of dead-locking the process, since there are no locks. Almost no function in Node directly performs I/O, so the process never blocks. Because nothing blocks, scalable systems are very reasonable to develop in Node.</p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality" [src]="node_functionality" alt="Node Image Functionality"></div>
    </div>
 
</div>


