<div class="container-fluid img-center">
    <div class="text-center"> 
      <img class="imgnode" [src]="node" alt="Node Image">
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6"><h1>WHAT IS EXPRESSJS?</h1>
         <p>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Express</strong> is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
            </div>
        
        <div class="col-sm-6"><img class="nodefunctionality" [src]="node_functionality" alt="Node Image Functionality"></div>
    </div>
  
  </div>
  