<div class="container-fluid img-center">
  <div class="text-center">
    <h1>Angular 6 Animation Tutorial</h1>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <p>
        Let's say for instance that we want our list of user's on the user's page to fade in when the component loads. We can use Angular's powerful animation library to help us achieve this.

        In order to gain access to the animation library, we have to first install it from the console: </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality" [src]="ng34" alt="Node Image Functionality"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p>
        Then, we add it to the imports of /src/app/app.module.ts:

        Open the sidebar.component.html file and update it to match:
      </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality1" [src]="ng35" alt="Node Image Functionality"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p>
        Next, open up /src/app/users/users.component.ts and add the following to the top imports:
      </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality2" [src]="ng36" alt="Node Image Functionality"></div>
  </div>

</div>