<div class="container-fluid img-center">
    <div class="text-center">
      <h1>Continue..</h1>
    </div>
    <br>
    <br>

   <div class="row">
      <div class="col-sm-6">
        <p>
          You will notice routerLink= here. Instead of href, we use routerLink to direct the user to different routes.
          Right now, this will not work though, we'll get to that during the routing section.
  
          We're also going to use Material Icons, so we need to import that first.
  
          Save this file and open up /src/index.html and add the following 2 lines between the "head" tags:
          We're importing material icons first, and then a Google web font called Montserrat. </p>
      </div>
      <div class="col-sm-6"><img class="nodefunctionality1" [src]="ng14" alt="Node Image Functionality"></div>
    </div>
  
  </div>