<div class="container-fluid img-center">
  <div class="text-center">
    <h1>Angular 6 HTTP Client</h1>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <p>
        Angular comes with a built in HTTPClient. Let's import that at the top of our data.service.ts file: </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality" [src]="ng21" alt="Node Image Functionality"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p>
        Next, in order to use the HttpClient, we need to create an instance of it through dependency injection within the constructor:
        </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality1" [src]="ng22" alt="Node Image Functionality"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p>
        We also defined a method called getUsers() which we'll call in our component shortly. It returns a list of users from a public testing API.

        Before we can use the HTTPClient, we need to add as an import in our app's /src/app/app.module.ts file: </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality2" [src]="ng23" alt="Node Image Functionality"></div>
  </div>

</div>