<div class="container-fluid img-center">
  <div class="text-center">
    <h1>Angular 6 Project Structure</h1>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <p>
        This is a beginner's tutorial, so we're not going to do a deep dive into every file. All that's important for you to understand are the absolute basics.

        When you view the folder and file structure of your Angular 6 app, it should look something similar to this:
      <br><br>
      You're going to spend most of your time working within the /src/app folder. This is where components and services are stored (we'll get to those shortly). 

      In the /src/ folder itself, you will see an index.html (the apps entry point) and a styles.css file, which is where any global CSS rulesets are placed.
      
      The /src/assets folder is where you place any assets such as graphics.
      
      Not present right now is a /dist/ folder, which is generated when you build the project, which we'll do later on.
    </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality" [src]="ng6" alt="Node Image Functionality"></div>
  </div>
  
 
</div>