<div class="container-fluid img-center">
    <div class="text-center">
      <h1>Angular 6 Routing Tutorial</h1>
    </div>
    <br>
    <br>
  
    <div class="row">
      <div class="col-sm-6">
        <p>
            For our users component, we want to fetch a list of users from a public API. To do that, we're going to use the Angular CLI to generate a service for us. 

            An Angular 6 service is useful placing code that's reusable throughout your app's different components.
            
            In the console, type: </p>
      </div>
      <div class="col-sm-6"><img class="nodefunctionality" [src]="ng19" alt="Node Image Functionality"></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <p>
            Open up the new service file: /src/app/data.service.ts:
          <br><br>
          It looks similar to a regular component, right? You define your imports at the top, and your methods and properties in the class that's exported.

          The purpose of our service file will be to communicate with an API via the Angular 6 HTTP Client.</p>
      </div>
      <div class="col-sm-6"><img class="nodefunctionality1" [src]="ng20" alt="Node Image Functionality"></div>
    </div>
  
  </div>