<div class="container-fluid img-center">
  <div class="text-center">
    <h1>Angular 6 Components Tutorial</h1>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <p>
        A component in Angular 6 provides you with the basic building blocks of your Angular app. When we used the
        Angular CLI to generate our project, it created a single component.

        When you use the CLI to generate components, it creates 4 files: </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality" [src]="ng8" alt="Node Image Functionality"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p>
        The HTML file is the HTML template associated with that component.
        The SCSS or CSS is the associated CSS rulesets for that component (whatever is defined in the HTML file)
        The .spec.ts file is for testing purposes.
        The .ts file is the actual component file, and it's where you will likely spend most of your time. It defines a
        number of things.
        Open up the<strong>app.component.ts</strong> file: </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality1" [src]="ng9" alt="Node Image Functionality"></div>
  </div>
</div>