<div class="container-fluid img-center">
    <div class="text-center"> 
      <img class="imgnode" [src]="node" alt="Node Image">
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6"><h1>WHAT IS AWS?</h1>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Amazon Web Services (AWS) </strong>is a secure cloud services platform, offering compute power, database storage, content delivery and other functionality to help businesses scale and grow. was designed and developed by Linus Torvalds for Linux kernel development. Git provides support for non-linear, distributed development, allowing multiple contributors to work on a project simultaneously. Git is the most popular distributed version control and source code management system.
            <br><br>In simple words AWS allows you to do the following things-
            <br>
            <br>1.Running web and application servers in the cloud to host dynamic websites.
            <br>2.Securely store all your files on the cloud so you can access them from anywhere.
            <br>3.Using managed databases like MySQL, PostgreSQL, Oracle or SQL Server to store information.
            <br>4.Deliver static and dynamic files quickly around the world using a Content Delivery Network (CDN).
            <br>5.Send bulk email to your customers.
            </p> 
        </div>
        
        <div class="col-sm-6"><img class="nodefunctionality" [src]="node_functionality" alt="Node Image Functionality"></div>
    </div>
  
  </div>
  