<div class="container-fluid img-center">
    <div class="text-center">
      <h1>Angular 6 Routing Tutorial</h1>
    </div>
    <br>
    <br>
  
    <div class="row">
      <div class="col-sm-6">
        <p>
            Now, let's make our 2 icons work when they're clicked. In order to do that, we need to visit the /src/app/app-routing.module.ts file.

            This is what it looks like: </p>
      </div>
      <div class="col-sm-6"><img class="nodefunctionality" [src]="ng17" alt="Node Image Functionality"></div>
    </div>
  
  </div>