<div class="container-fluid img-center">
  <div class="text-center">
    <h1>Continue...</h1>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <p>
        This is a little lengthy because I don't want to keep revisiting this file. The rulesets here are applying to
        some elements that we haven't yet defined. Nothing too exciting is happening here though, just some standard
        Sass/CSS.

        Next, open up the sidebar CSS file /src/app/sidebar/sidebar.component.scss: </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality1" [src]="ng16" alt="Node Image Functionality"></div>
  </div>

</div>