<div class="container-fluid img-center">
    <div class="text-center">
      <h1>Angular 6 CSS</h1>
    </div>
    <br>
    <br>

   <div class="row">
      <div class="col-sm-6">
        <p>
            Let's add some CSS rulesets to make our app look better. First, open up /src/styles.css. Any CSS/Sass defined here will apply to the HTML templating of all components, while component-specific CSS files only apply to that component's HTML template.

            Add the following rulesets: </p>
      </div>
      <div class="col-sm-6"><img class="nodefunctionality1" [src]="ng15" alt="Node Image Functionality"></div>
    </div>
  
  </div>