<div class="container-fluid img-center">
    <div class="text-center"> 
      <img class="imgnode" [src]="node" alt="Node Image">
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6"><h1>WHAT IS NPM?</h1>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>NPM</strong> software and services lie at the heart of a thriving development ecosystem, but terms like “package manager” and “software registry” may leave you with some questions.
            <br> <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You’ll run the npm client software to access one or more remote (network-based) repositories of software packages. You can view, retrieve and install packages shared by others in your organization or anywhere in the world. The npm client also allows you to publish your own packages, and modify and manage those packages in a repository.
            <br> <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;What repository? The npm Registry is a repository of open-source software packages hosted by npm for the Node.js developer community. Through the npm Registry, users can discover and download existing packages for use in their own projects. They also can submit and upload new or updated packages for download by others, including the ability to set permissions on the use of their software. In addition to transmitting hundreds of millions of software uploads and downloads per day, the npm Registry functions as a communication network for the community for analytics on the use of packages.
          </p></div>
        
        <div class="col-sm-6"><img class="nodefunctionality" [src]="node_functionality" alt="Node Image Functionality"></div>
    </div>
 
</div>


