.container-fluid{
    padding-top: 3rem;
    background-color: #ff695e;
    min-height:100vh !important;
}
.imgnode{
    height:18vh;
   
    
}
.nodefunctionality{
    height:50vh;
    float:center;
}
html, body{
   
    color:black ;
}

p{
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-size: 22px;
}
.row{
    margin-top:2rem;
    margin-left:5rem;
}