.container-fluid {
    padding-top: 3rem;
    background-color: #444;
    min-height: 100vh !important;
    color:white;
}

.imgnode {
    height: 18vh;
}

.nodefunctionality {
    height: 10vh;
    float: center;
    margin-left: 1rem;
    margin-top: 1rem;
}

p {
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-size: 22px;
}

.row {
    margin-top: 2rem;
    margin-left: 5rem;
}