<div class="container-fluid img-center">
  <div class="text-center">
    <h1>Continue...</h1>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <p>
        ng - This is how we call the Angular CLI.
        <br>
        <br>new - This is one of the many commands we can issue to the CLI.
        <br>
        <br>ng6-proj is simply the name that we're calling our project. The CLI will create a folder with this name,
        based
        on where you're running this command.
        <br>
        <br>Optional flags - Next are two optional flags that I decided to add. First, we're telling the CLI to
        generate a
        project that has Sass enabled (by default, CSS is used if this is not specified), and then --routing is added
        because we want a project that has different page URL's, and adding this flag will help create a routing file
        for us.
        To check out all of the available commands and options, run ng at the command line.

        Once the CLI has generated the new project, you can hop into it:</p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality" [src]="ng4" alt="Node Image Functionality"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p>
        If you use Visual Studio Code, you can type code . to launch the code editor. Then, to serve the project to
        the browser, you run:</p>
    </div>

    <div class="col-sm-6"><img class="nodefunctionality" [src]="ng5" alt="Node Image Functionality"></div>
  </div>

</div>