<div class="container-fluid img-center">
  <div class="text-center">
    <h1>HOW TO INSTALL ANGULAR 6?</h1>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        The quickest and easiest way of starting an Angular 6 app is through the Angular CLI (Command Line Interface).

        To install it, you're going to need either the yarn package manager or the node package manager. To check
        whether or not you have npm, in your console / command line, type:</p>
    </div>

    <div class="col-sm-6"><img class="nodefunctionality" [src]="ng1" alt="Node Image Functionality"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        If this goes unrecognized (and not a version number), you need to install NodeJS. Once you install NodeJS,
        reload your console or command line and you will have access to NPM.

        Now, we can use NPM to install the Angular CLI. The Angular CLI has an official website located here.

        To install it:</p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality" [src]="ng2" alt="Node Image Functionality"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        If you run ng -v after installing, it will provide you with the version number. Mine happens to be 6.0.7.

        Once the CLI is installed, we can now use it to start a install a brand new Angular 6 project:</p>
    </div>

    <div class="col-sm-6"><img class="nodefunctionality" [src]="ng3" alt="Node Image Functionality"></div>
  </div>

</div>