<div class="container-fluid img-center">
  <div class="text-center">
    <h1>Continue...</h1>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <p>
        For more muscle memory, let's repeat this process for the /src/app/posts/posts.component.ts file: </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality" [src]="ng30" alt="Node Image Functionality"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p>
        And the posts.component.html file:
        <br> <br>
        Save it, and click on the posts icon in the sidebar:
        </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality1" [src]="ng31" alt="Node Image Functionality"></div>
  </div>
 
</div>