<div class="container-fluid img-center">
  <div class="text-center">
    <h1>Continue...</h1>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <p>
        At the top, we have our imports. You will import other components here, along with service files. We'll do that a little later.

        The @Component decorator is an object with associated property / value pairs that defines important stuff associated with this component. For instance, you will see selector: 'app-root' - This provides this component with a unique identifier that is used in other areas of the app. You can also see templateUrl and styleUrls, which tells Angular where this component's HTML and CSS files are located. There are other properties that can be added here, such as animations, but we'll get to that later.
        
        Finally, we have the logic section of the component file. This is where properties (we see that title was defined by the CLI), dependency injection and methods are defined.
        
        Now that you understand the very basics of a component, let's create a few of our own!
        
        In the console, run: </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality" [src]="ng10" alt="Node Image Functionality"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p>
        Here, we've told the CLI to generate a component with the name of sidebar. It outputs the 4 files it created, along with the app module file it updated!

        Let's generate a few more components. Run the following commands to generate 3 more components:
        Now, you should have a total of 5 components, 4 of which we just created ourselves. Shortly, you'll see how all of these start to work with each other and in relation to the app.
        Open up the<strong>app.component.ts</strong> file: </p>
    </div>
    <div class="col-sm-6"><img class="nodefunctionality1" [src]="ng11" alt="Node Image Functionality"></div>
  </div>
</div>