<div class="container-fluid img-center">
  <div class="text-center"> 
    <img class="imgnode" [src]="node" alt="Node Image">
  </div>
  <br>
  <br>
  <div class="row">
      <div class="col-sm-6"><h1>WHAT IS MONGODB?</h1>
       <p>
        The quickest and easiest way of starting an Angular 6 app is through the Angular CLI (Command Line Interface). 

        To install it, you're going to need either the yarn package manager or the node package manager. To check whether or not you have npm, in your console / command line, type:
          </div>
      
      <div class="col-sm-6"><img class="nodefunctionality" [src]="node_functionality" alt="Node Image Functionality"></div>
  </div>

</div>
