<div class="container-fluid img-center">
    <div class="text-center"> 
      <img class="imgnode" [src]="node" alt="Node Image">
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6"><h1>WHAT IS GIT?</h1>
         <p>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>GIT</strong> was designed and developed by Linus Torvalds for Linux kernel development. Git provides support for non-linear, distributed development, allowing multiple contributors to work on a project simultaneously. Git is the most popular distributed version control and source code management system.</p> </div>
        
        <div class="col-sm-6"><img class="nodefunctionality" [src]="node_functionality" alt="Node Image Functionality"></div>
    </div>
  
  </div>
  